<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <php>
        <env name="XDEBUG_MODE" value="coverage" force="true" />
    </php>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Test</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory>src/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>
